header a{
	color: #000!important;
}

header .mui-title{
	text-align: left;
}

section{
	padding-top: 1.666666rem;
}

#class-title{
	width: 90%;
	height: 5rem;
	background-color: #007229;
	border-radius: 0.5rem;
	margin: auto;
	margin-bottom: 0.833333rem;
}

#class-title h3 {
	color: #fff;
	padding: 0.666666rem 0 0.416666rem 0.416666rem;
}

#class-title p{
	color: #fff;
	padding: 0 0.416666rem;
}

#class-content{
	width: 90%;
	height: 5rem;
	background-color: #ba394e;
	border-radius: 0.5rem;
	margin: auto;
	margin-bottom: 0.833333rem;
}

#class-content h3 {
	color: #fff;
	padding: 0.666666rem 0 0.416666rem 0.416666rem;
}

#class-content p{
	color: #fff;
	padding: 0 0.416666rem;
}

#class-content-1{
	width: 90%;
	height: 5rem;
	background-color: #11568c;
	border-radius: 0.5rem;
	margin: auto;
	margin-bottom: 0.833333rem;
}

#class-content-1 h3 {
	color: #fff;
	padding: 0.666666rem 0 0.416666rem 0.416666rem;
}

#class-content-1 p{
	color: #fff;
	padding: 0 0.416666rem;
}