header a{
	color: #000!important;
}

header .mui-title{
	text-align: left;
}

section h1{
	padding-top: 2.083333rem;
	padding-left: 0.416666rem;
}

section .detail-title{
	padding: 2rem 0;
	text-align: center;
}

section .detail-title p{
	font-size: 0.5rem;
}
section .detail-title h3{
	font-size: 0.833333rem;
}

section .result .mui-table-view{
	background-color: #F2F2F0;
}

section .mui-table-view:before,.mui-table-view:after{
	background-color: #F2F2F0!important;
}

section .result p{
	padding-left: 0.416666rem;
}

